/* .page{
    padding-top: 150px;
    background-color: #FFFAE9;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
} */

.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    padding: 30px;
    color: #A43032;
}

.right{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    padding: 30px;
    color: #A43032;
}
.dish{
    width: 30%;
    padding: 30px;
  }